@import './variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

article {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.breadcrumb {
    background-color: transparent !important;
}

.bg-wave {
    background-color: $danger;
    background-image: url(../images/pattern-building.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: cover;
}

.bg-wave-green {
    background-color: $green;
    background-image: url(../images/pattern-wave.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: cover;
}

.bg-wave-gray {
    background-color: $gray-700;
    background-image: url(../images/pattern-wave.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: cover;
}

.bg-wave-read {
    background-color: $danger;
    background-image: url(../images/pattern-wave.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: cover;
}

.bg-wave-dark {
    background-color: $dark;
    background-image: url(../images/pattern-wave.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: cover;
}


.navbar-collapse {
    text-align: center;
}

.video-container {
    height: 400px;
    overflow: hidden;
    position: relative;
    display: block;

    .video { 
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto !important;
        width: auto !important;
        min-height: 100%;
        min-width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

}

@media only screen and (max-width: 570px) {
    footer {
        text-align: center !important;
    }
}
